.site-header {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media('>=tablet_portrait') {
    padding-top: 72px;
  }
  .custom-logo-link {
    img {
      height: 24px;
      width: 100%;

      @include media('>=tablet_portrait') {
        height: 40px;
      }
    }
  }
  .site-branding {
    @include container;
    margin: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-navigation {
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    @include media('>=tablet_portrait') {
      .menu-toggle {
        display: none;
      }
    }
  }

  .menu-main-menu-container {
    display: flex;
    align-items: center;
    li {
      a {
        color: $color__neon-green !important;
      }
    }

    @include media('>=tablet_portrait') {
      display: flex;
      ul {
        display: flex;
        gap: 32px;
      }
    }
  }
}

.menu-item-65 {
  a {
    color: $color__neon-green !important;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace !important;

    &:hover {
      color: white !important;
      background: #243665 !important;
    }
  }
}

.menu-item-66 {
  a {
    color: $color__neon-green !important;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace !important;

    &:hover {
      color: white !important;
      background: #243665 !important;
    }
  }
}

.menu-item-67 {
  a {
    color: $color__neon-green !important;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace !important;

    &:hover {
      color: white !important;
      background: #243665 !important;
    }
  }
}

.menu-item-68 {
  a {
    color: $color__neon-green !important;
    font-weight: normal;
    font-family: 'Roboto Mono', monospace !important;

    &:hover {
      color: white !important;
      background: #243665 !important;
    }
  }
}

.menu-item-69 {
  a {
    font-family: 'Roboto Mono', monospace !important;
    color: white !important;
    max-width: 156px !important;
    @include prim-button;

    &:hover {
      background: $color__neon-green !important;
    }
  }
}

.mobmenu-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobmenuleft {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
