$black-color: #243665;
$black-color__light: #262626;
$grey-color: #595959;
$grey-color__light: #bfbfbf;
$white-color: #f2f2f2;
$red-color: #ff5b55;
$color__dark-blue: #243665;
$color__neon-green: #8bd8bd;
